* {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

.jellybean {
    display: none;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    max-width: 500px;
    width: 90%;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-copy {
    margin-top: 20px;
}

legend {
    font-size: 24px;
    color: #cc0000;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #151515;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #43484c;
}

.account-ctas {
    margin-top: 20px;
    text-align: center;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

@media only screen and (min-width: 768px) {
    .jellybean {
        display: block;
        height: 100vh;
    }

    .form-content {
        flex-direction: row;
        height: auto;
    }

    form {
        margin-left: 20px;
    }
}