/*
body {
    background: url("https://www.hyundai.ie/ioniq6/2-IONIQ6-Design_221206_files/HME_CEBasis_EViz_Location_NY9-TransmissionBluePearl_52910KL310_CAM02.jpg");
  height: 100vh;
      background: url("https://www.hyundai.ie/ioniq6/2-IONIQ6-Design_221206_files/HME_CEBasis_EViz_Location_NY9-TransmissionBluePearl_52910KL310_CAM02.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

}
*/

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
 max-width: 500px;
}


.field-group {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.error-message {
    display: none;
    color: red;
    font-size: 70%;
    margin: .2rem 0;
}

input.invalid {
    background-color: #ffdddd;
    border: 2px solid #c00000;
    border-color: #800000;
}

input.valid:not([type="submit"]) {
    border: 2px solid #6c8e6c;
    outline: none;
    border-radius: 4px;
    background-color: #ddffdd;
}

/* Show error message for invalid fields */
input.invalid + .error-message {
    display: block;
}


  

@media only screen and (max-width: 575px) {
        .row, .form-row {
            width: inherit;
            flex-direction: column;
        }
  }
